<!-- footer content -->
<footer>
  <div class="">
    <p class="pull-right">Ruby Gem created by <strong><%= link_to 'Brilliant Developing', 'http://brilliantdeveloping.com' %></strong>&nbsp;&nbsp;
      <span class="lead">|&nbsp;&nbsp;BrilliantCMS</span>
    </p>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->